<html>
<body>
	<h1>Offline Water Conservation Project</h1>
	<p>An Open Source Project by RAM</p>
	<h2>Child Node Server/ Change Sensor Values</h2>
	<form method="POST" action="/update">
		Temperature: <input type="text" name="temp"><BR>
		Humidity: <input type="text" name="humid"><BR>
		Precipitation: <input type="text" name="rain"><BR>
		<input type="submit">
	</form>
	<BR>

	<h3>Navigation:</h3>
	<p><a href="/api"><button>Sensor Values</button></a><a href="/changevals"><button>Change Values</button></a></p>
</body>
</html>